$blanco:     #ffffff;
$azulOscuro: #101069;
$amarillo:   #ffba00;
$azul:       #0076a3;
$verde:      #548c27;
$rojo:       #fe2d28;
$morado:     #6d73c2;
$negro:      #000000;
$gris:       #cccccc;

$titulos: 'Bitter', serif;
$parrafos: 'Open Sans', sans-serif;
$tablet: 768px;
$desktop: 1024px;
